.about-section {
padding: 50px !important;
text-align: center !important;
background-color: #474e5d !important;
color: white !important;
}
.button {
border: none !important;
outline: 0 !important;
display: inline-block !important;
padding: 8px !important;
color: white !important;
background-color: #000 !important;
text-align: center !important;
cursor: pointer !important;
width: 100% !important;
}

.button:hover {
background-color: #555 !important;
}

#kozossegihalo{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
video{
    margin:10px auto;
	border:2px solid black;
	padding: 10px;
	border-radius:20px;
	width:95%;
	max-width:700px;	
	display:block;
}
.container{
	padding-top: 50px;
}
.transcription{
	text-align: center !important;
}
/* unvisited link */
a:link {
	color: purple;
}
/* visited link */
a:visited {
	color: blue;
}
/* selected link */
a:active {
	color: red;
}
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
article{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
  	padding: 50px;
  	background-color: lightgray ;
	text-align: justify;
  	text-justify: inter-word;
	font-size: 120%;
}
.thumbnail{
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 35px; /* Set a small width */
	height: 35px; /* Set a small width */
}